.code .co0{color:#666;font-style:italic;}
.code .co4{color:#c00;font-style:italic;}
.code .es5{color:#069;font-weight:bold;}
.code .es6{color:#093;font-weight:bold;}
.code .kw2{color:#fff;font-weight:bold;}
.code .kw5{color:#fff;}
.code .kw6{color:#f08;font-weight:bold;}
.code .me0{color:#004000;}
.code .nu0{color:#c6c;}
.code .re0{color:#00f;}
.code .re3{color:#f33;font-weight:bold;}
.code .re4{color:#099;}
.code .re5{color:#603;}
.code .sc-2{color:#404040;}
.code .sy3{color:#fff;}
.code .br0,.code .sy0{color:#6c6;}
.code .co1,.code .coMULTI,.code .sc-1{color:#fff;font-style:italic;}
.code .co2,.code .sy1{color:#393;}
.code .co3,.code .sy4{color:#fff;}
.code .es0,.code .es1,.code .esHARD{color:#fff;font-weight:bold;}
.code .es2,.code .es3,.code .es4{color:#609;font-weight:bold;}
.code .kw1,.code .kw8{color:#b1b100;}
.code .kw10,.code .kw11,.code .kw12,.code .kw9{color:#039;font-weight:bold;}
.code .kw13,.code .kw14,.code .kw15,.code .kw16,.code .me1,.code .me2{color:#060;}
.code .kw3,.code .kw7,.code .sy2{color:#006;}
.code .kw4,.code .re2{color:#933;}
.code .re1,.code .st0,.code .st_h{color:#f00;}

body { width: 80%; padding-left: 3%;
       color: white;
       background-color: black;
}

div.clearer{clear:both;font-size:0;line-height:0;height:0;overflow:hidden;}
.group{display:inline-block;}
.group{display:block;}
.group:before,.group:after{content:"";display:table;}
.group:after{clear:both;}
div.no{display:inline;margin:0;padding:0;}
.hidden{display:none;}
.medialeft{float:left;}
.mediaright{float:right;}
.mediacenter{display:block;margin-left:auto;margin-right:auto;}
.leftalign{text-align:left;}
.centeralign{text-align:center;}
.rightalign{text-align:right;}
em.u{font-style:normal;text-decoration:underline;}
em em.u{font-style:italic;}

body { text-align: justify;
       font-size: 1.25em;
}
ol{list-style:decimal outside;}
ol ol{list-style-type:lower-alpha;}
ol ol ol{list-style-type:upper-roman;}
ol ol ol ol{list-style-type:upper-alpha;}
ol ol ol ol ol{list-style-type:lower-roman;}

a { color: #00ffff; }
h1 { font-size: 2em; }
